PORT=3000
# Данные локальной базы
DB_HOST=localhost
DB_PORT=5432
DB_USER=name
DB_PASSWORD=password
DB_NAME=DB

JWT_SECRET=fitmaster-super-secret-key-change-in-production

# Для миграции
DATABASE_URL=postgresql://(логин):(пароль)@localhost:(port)/(БД)

# JWT secret
ACCESS_TOKEN_SECRET = secret_token