NODE_ENV=development

PORT=3000
# Данные локальной базы
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fitmaster_db
DB_USER=
DB_PASSWORD=

# Для миграции
DATABASE_URL=postgresql://postgres:zxcvbnmq1029p@localhost:5432/fitmaster_db