{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "none",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^[a-z@]",
        "^@/",
        "^\\.\\./",
        "^\\./",
        "^@/app",
        "^@/application/contracts_db",
        "^@/application/auth",
        "^@/application/profile",
        "^@/application/workouts",
        "^@/domain/entities",
        "^@/domain/repositories",
        "^@/domain/types",
        "^@/infrastructure/database",
        "^@/infrastructure/repositories",
        "^@/infrastructure/security",
        "^@/presentation/controllers",
        "^@/presentation/middleware",
        "^@/presentation/routes",
        "^@/shared"
    ],
    "importOrderSeparation": true
}
